* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    filter: invert(100%);
}
body {
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F2CBC8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #1D1E2C;
    height: 100vh;
}

main {
    background-color: #D8555F;
    opacity: 30%;
    border-radius: 30px;
    height: 620px;
    width: 400px;
    box-shadow: 0px 0px 50px 30px rgba(235, 170, 175, 0.5);
    transition: all 0.5s ease-in-out;
}

main:hover {
    opacity: 70%;
    box-shadow: none;
}

main #display {
    height: 100px;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
    font-size:60px;
    text-align: right;
    background: rgba(255,255,255,0.3);
    border-radius: 20px;
    border: none;
}

main #button-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 500px;
    width: 100%;
}

main #button-container button {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235, 170, 175);
    color: #D8555F;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

main button:active {
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0px 0px 50px 30px rgba(235, 170, 175, 0.5);
    background-color: rgb(255, 190, 195);
    color: black;

    /* I can't get this to work unfortunately 
    which is supposed to add glow effect to the text

    text-shadow: 0px 0px 1em rgb(155,23,232);

    */
}

p {
    text-align: center;
    text-wrap: balance;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    font-size: 40px;
}

